.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-container{
  list-style-type: none;
  padding: 0;
}

.title{
  font-family: 'Roboto';
  font-size: 32px;
  color: #183b56;
  margin-bottom: 30px;
}
.search-bar{
  border-radius: 5px;
  border: 2px solid gray;
  background-color: #fcfcfc;
  padding: 5px;
  width: 100%;
  max-width: 230px;
}