*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
.bg-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4cc27d;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}
.title{
  font-size: 28px;
  color: #000000;
}
.button{
  background-color: #0089fa;
  color: #ffffff;
  border: none;
  padding: 8px 50px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}