.faq-item{
    width: 100%;
    border: 1px solid #d7dae6;
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 16px;
    overflow: hidden;
}

.question-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.question{
    color: #52606d;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .question{
        font-size: 24px;
    }
}

.answer{
    color: #9aa5b1;
    font-family: 'Roboto';
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .answer{
        font-size: 24px;
    }
}

.toggle-button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

}


@media screen and (min-width: 576px) {
    .icon{
        width: 15px;
        height: 15px;
    }
}


@media screen and (min-width: 768px) {
    .icon{
        width: 25px;
        height: 25px;
    }
}

.horizontal-line{
    border: 1px solid #e4e7eb;
}